@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&subset=latin-ext");

/*----- General styles -----*/
body {
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    min-width: 345px;
    max-width: 900px;
    margin: 0 auto;
    padding: 5px;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
}

.nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.6s;
}

    .nav > a {
        display: block;
        padding: 20px 30px;
        font-size: 25px;
        text-decoration: none !important;
        color: #ccc;
    }

    .nav a:hover {
        color: #fff;
        transition: 0.4s;
    }

    .nav .close {
        position: absolute;
        top: 0;
        right: 22px;
        margin-left: 50px;
        font-size: 30px;
    }

header {
    padding: 10px;
    transition: margin-left 0.6s;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.slide {
    color: #000;
    font-size: 36px;
    text-decoration: none;
    position: absolute;
    top: 15px;
    left: 15px;
}

#logo {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

    #logo img {
        height: auto;
        width: 70%;
        align-self: center;
    }

#search-bar1,
#search-bar2 {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

    #search-bar1 input[type="text"],
    #search-bar2 input[type="text"] {
        width: calc(100% - 95px);
        padding: 11px 0 12px 1em;
        color: #333;
        outline: none;
        font-size: 14px;
        border-width: 0;
        background-color: #d7d7d7;
    }

#search-button {
    position: absolute;
    top: 0;
    height: 39px;
    width: 80px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 42px;
    border-width: 0;
    background-color: #222;
    cursor: pointer;
}

    #search-button:hover {
        background-color: rgba(155, 155, 155, 0.3);
    }

#app {
    position: relative;
    padding-bottom: 100%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

    #app iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        margin-top: 20px;
    }

/*----- About page -----*/

.panel {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid transparent;
    border-radius: 5px;
    text-align: justify;
}

.panel-header {
    background-color: #d4d4d4;
    padding: 5px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-body {
    padding: 10px;
    background-color: #7a7a7a;
    color: #fff;
}

#phone,
#phone:visited,
#email,
#email:visited {
  color: #fff;
}

.activepage {
    display: initial;
}

.inactivepage {
    display: none;
}
/*----- Home page -----*/

#search-home {
    display: flex;
    align-items: center;
}
    

/*----- Search results -----*/
#results {
    width: 100%;
    height: auto;
    overflow: scroll;
}

.result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #d7d7d7;
}

.product-image {
    max-width: 120px;
    max-height: 120px;
    margin: 0;
}

.product-name {
  font-size: 18px;
  align-self: center;
  text-align: left;
  margin-left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 160px);
}

.seller-info {
    width: 100%;
}

.seller-name,
.seller-price {
  display: inline;
  margin-right: 0;
}

.seller-dropdown {
    text-decoration: none;
    color: black;
    align-self: center;
    margin-left: auto;
    margin-right: 5px;
}

.seller-hidden {
    display: none;
}

/*----- Spinner style -----*/

#loader {
    font-size: 80px;
    text-align: center;
}

.loader i{
    width: 100%;
    height: 100%;
}

/*----- Media Queries -----*/

/*Small*/
@media screen and (min-width: 35.5em) {

}

/*Medium*/
@media screen and (min-width: 48em) {

    .deals-img {
        width: 130px;
        height: 130px;
    }
}

/*Large*/
@media screen and (min-width: 64em) {

    .deals-img {
        width: 150px;
        height: 150px;
    }

    #search-bar1 input[type="text"],
    #search-bar2 input[type="text"] {
        width: 80%;
    }
}

/*XLarge*/
@media screen and (min-width: 80em) {

    .deals-img {
        width: 170px;
        height: 170px;
    }
}

